<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.eclipse.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="ice.master.fsm.melange.FSM" xdsmlFilePath="/ice.master.fsm.melange/src/ice/master/fsm/melange/FiniteStateMachine.melange"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated SimpleFSMMT -->
    <package class="ice.master.fsm.melange.simplefsmmt.fsm.FsmPackage" genModel="model-gen/SimpleFSMMT.genmodel" uri="http://ice.master.fsm.melange.simplefsmmt/fsm/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated FSMMT -->
    <package class="ice.master.fsm.melange.fsmmt.fsm.FsmPackage" genModel="model-gen/FSMMT.genmodel" uri="http://ice.master.fsm.melange.fsmmt/fsm/"/>
  </extension>
  
<extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="ice.master.fsm.melange.FSMMT" uri="http://ice.master.fsm.melange.fsmmt/"/>
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="State:ice.master.fsm.melange.fsm.aspects.StateAspect;FiniteStateMachine:ice.master.fsm.melange.fsm.aspects.FiniteStateMachineAspect;Transition:ice.master.fsm.melange.fsm.aspects.TransitionAspect" entryPoints="ice.master.fsm.melange.fsm.aspects.FiniteStateMachineAspect.main(ice.master.fsm.melange.fsm.fsm.FiniteStateMachine)" exactType="ice.master.fsm.melange.FSMMT" id="ice.master.fsm.melange.FSM" uri="http://ice.master.fsm.melange.fsm/fsm/">
      <adapter class="ice.master.fsm.melange.fsm.adapters.fsmmt.FSMAdapter" modeltypeId="ice.master.fsm.melange.FSMMT"/>
    </language>
  </extension>
</plugin>
