<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="ice.master.fsm.melange.debug.design.Activator"
               id="ice.master.fsm.melange.debug.design"
	       name="FSM">
    </component>
  </extension>
</plugin>
